.btn-warning{
    background-color:#f7ce3e;
    border-color:#f7ce3e;
}
.btn-warning:hover{
    color:#1A2930
}
.btn-success{
    background-color:#1A2930;
    border-color:#1A2930;
}
.btn-success:hover{
    color:#fff
}
.btn-info{
    background-color:#062f4f;
    border-color:#062f4f;
}
.btn-info:hover{
    color:#fff
}
.btn-danger{
    background-color:#b82601;
    border-color:#b82601;
}
.btn-danger:hover{
    color:#fff
}
.btn-primary{
    background-color:#1A2930;
    border-color:#1A2930;

}
.btn-primary:hover{
    color:#F7CE3E
}
.progress-bar-info{
    background-color:#F7CE3E;
    color:#1A2930;    
}