<div [@routerTransition]>
  <app-page-header [heading]="'Upload Videos'" [icon]="'fa fa-fw fa-upload'"></app-page-header>
  <div class="row">
    <div class="col-lg-6">
      <h4>Basic Conversion</h4>
      <hr>
      <form role="form" [formGroup]="uploadVideoBasicForm" (ngSubmit)="uploadFileBasic(uploadVideoBasicForm)">
        <div>
          <h5>Select file:</h5>
          <input type="file" (change)="selectFile($event)" />
        </div>
        <hr>
        <div>
          <h5>Select Conversion:</h5>
          <fieldset class="form-group">
            <select formControlName="conversionType" multiple="" class="form-control">
              <option *ngFor="let basic of typeConversionBasic; let i = index">{{basic}}</option>
            </select>
          </fieldset>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="uploadVideoBasicForm.invalid || !selectedFile()">Upload Basic</button>
      </form>
    </div>
    <div class="col-lg-6">
      <h4>Expert Conversion</h4>
      <hr>
      <form role="form" [formGroup]="uploadVideoExpertForm" (ngSubmit)="uploadFileExpert(uploadVideoExpertForm)">
        <div>
          <h5>Select file:</h5>
          <input type="file" (change)="selectFile($event)" />
        </div>
        <hr>
        <div>
          <h5>Select Conversion:</h5>
          <fieldset class="form-group">
            <select formControlName="conversionType" multiple="" class="form-control">
              <option *ngFor="let expert of typeConversionExpert; let i = index">{{expert}}</option>
            </select>
          </fieldset>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="uploadVideoExpertForm.invalid || !selectedFile()" type="submit">Upload Expert</button>
      </form>
    </div>
    <hr>
  </div>
  <hr>
  <div *ngIf="file" class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progressUploaded}}"
      aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progressUploaded+'%'}">
      {{progressUploaded}}%</div>
  </div>
</div>
<hr>
<div class="row" *ngIf="videoUploaded">
  <div class="col-xl-3"></div>
  <div class="col-xl-6">
    <div class="alert alert-info">
      <strong>Conversion on progress!</strong>
    </div>
    <div class="wrapper">
      <button type="button" class="btn btn-primary center" [routerLink]="['/dashboard']">See there!</button>
    </div>
    <div class="col-xl-3"></div>
  </div>
</div>
<div class="row" *ngIf="noVideoFile">
  <div class="col-xl-3"></div>
  <div class="col-xl-6">
    <div class="alert alert-info">
      <strong>Not is a video File! Please, upload a video File</strong>
    </div>
    <div class="col-xl-3"></div>
  </div>
</div>
<div class="row" *ngIf="fileExists">
    <div class="col-xl-3"></div>
    <div class="col-xl-6">
      <div class="alert alert-info">
        <strong>The file exists. Send another file or with another name</strong>
      </div>
      <div class="col-xl-3"></div>
    </div>
  </div>
